<!DOCTYPE html>
<html>
    <head>
        <title>Banned IPs</title>
        <meta charset="utf-8">
        <style>
            th {
                border-bottom: 1px solid black;
            }
            table {
                border-bottom: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>Date: {{date}}</h2>
        <table id="bannedIpTable" style="width:50%">
            <tr>
                <th><b>IP</b></th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <p><br><br><br><br><br></p>

        <script>
            var info = "{{output}}".split(",");
            var table = document.getElementById("bannedIpTable");
            console.log(info);
            for(i = 0; i < info.length; i++) {
                var myRow = table.insertRow();
                var cellOne = myRow.insertCell();
                cellOne.innerHTML = info[i];
            }
        </script>
    </body>
</html>


